{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}
				{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
			{% endblock %}
			{% block title_suffix %}
				{% with self.get_site.site_name as site_name %}
					{% if site_name %}- {{ site_name }}{% endif %}
				{% endwith %}
			{% endblock %}
		</title>
		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css"/>

		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
		{# Global stylesheets #}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/index_b.css' %}">

		{% block extra_css %}
			{# Override this in templates to add extra stylesheets #}
		{% endblock %}
	</head>

	<body class="main-body">
		<nav class="navbar navbar-light bg-light">
			<p class="navbar-brand uk-text-lead" style="margin: 0; padding: 0; font-size: 40px">
				Metropol
			</p>
			<p style="text-align: right!important;"><a class="text-monospace" href="accounts/login/">Sign in</a></p>
		</nav>

		<!--<h1>not logged</h1>-->
		<main class="uk-margin-bottom">
			<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

				<ul class="uk-slideshow-items">
					<li>
						<img src="{{ response.json.items.0.meta.download_url }}" alt="" uk-cover>
						<div class="uk-position-center uk-position-small uk-text-center">
							<h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-heading-xlarge" style="color: white">
								Tokyio pictures</h2>
							<p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color: white">Explore Tokyo.</p>
						</div>
					</li>
					<li>
						<img src="{{ response.json.items.1.meta.download_url }}" alt="" uk-cover>
						<div class="uk-position-center uk-position-small uk-text-center">
							<h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-heading-xlarge" style="color: white">
								Seoul images</h2>
							<p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color: white">Travel with the best images.</p>
						</div>
					</li>
					<li>
						<!--<img src="/media/tokyo1.jpg" alt="" uk-cover>-->
						<img src="{{ response.json.items.2.meta.download_url }}" alt="" uk-cover>
						<div class="uk-position-center uk-position-small uk-text-center">
							<h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-heading-xlarge" style="color: white">
								Singapure pics</h2>
							<p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color: white">Explore Singapore.</p>
						</div>
					</li>
				</ul>

				<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
				   uk-slideshow-item="previous"></a>
				<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
				   uk-slideshow-item="next"></a>

			</div>
		</main>
		<section>
			<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
				<div>
					<div class="uk-card uk-card-default uk-card-body">
						<h3 class="uk-card-title">A community for urban photographers</h3>
						<p>Upload your best images and get praised by other users</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-primary uk-card-body">
						<h3 class="uk-card-title">A community for pro photographs</h3>
						<p>Find places to visit by reading our users contributions.</p>
					</div>
				</div>
				<div>
					<div class="uk-card uk-card-secondary uk-card-body">
						<h3 class="uk-card-title">A community for travelers</h3>
						<p>Find urrban gems all over the world.</p>
					</div>
				</div>
			</div>
			'
		</section>

		{# Global javascript #}
		<script type="text/javascript" src="{% static 'js/index_b.js' %}"></script>


	</body>
