{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}
				{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
			{% endblock %}
			{% block title_suffix %}
				{% with self.get_site.site_name as site_name %}
					{% if site_name %}- {{ site_name }}{% endif %}
				{% endwith %}
			{% endblock %}
		</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css"/>

		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
		{# Global stylesheets #}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/index_b.css' %}">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
		{% block extra_css %}
			{# Override this in templates to add extra stylesheets #}
		{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body class="main-body">
		<nav class="navbar navbar-light bg-light uk-navbar-container" uk-navbar style="padding: 0 1rem">
			<a class="navbar-brand" href="/">
				Metropol
			</a>
			<div class="uk-navbar-right">

				<ul class="uk-navbar-nav">
					<li>
						<a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav uk-link-text">
								<li style="margin: 0 0 4px 0">Welcome, {{ user.get_username }}</li>
								<li><a class="uk-text-success" href="{% url 'newpost' %}">Add post</a></li>
								<li><a class="uk-text" href="{% url 'profile' %}">Profile</a></li>
								<li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<!--<h1>not logged</h1>-->
		<main class="uk-margin-left uk-margin-right uk-margin-top">
			<div class="uk-card uk-card-default uk-card-body uk-width-1-3 uk-align-center">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Given likes</span>
					</div>
					<div class="input-group-append">
						<span class="input-group-text">{{ given_likes }}</span>
					</div>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Username</span>
					</div>
					<div class="input-group-append">
						<span class="input-group-text">{{ User }}</span>
					</div>
				</div>

				<form style="margin: 7px 7px 0 0; display: inline-block;" name="delete" id="700" action="/delete-profile/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<!--<input type="text" style="display: none" name="id" value=""/>-->
					<button name="aa"  type="submit" class="btn btn-danger">Delete Profile</button>
				</form>

			</div>
		</main>


		{# Global javascript #}
		<script type="text/javascript" src="{% static 'js/index_b.js' %}"></script>


	</body>

	<hr>
	<script>
        $("#like-btn").click(function () {


        });
	</script>
