{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<form class="w-50" style="margin:7% auto 0 auto; border: 2px solid gray; border-radius: 4px; padding: 17px" method="POST">
		{% csrf_token %}
		{% bootstrap_form form %}
		<button class="btn btn-success" type="submit">Register</button>
		<p class="mt-3"><a href="{% url 'password_reset' %}">Lost password?</a></p>
		<p class="mt-3"> <a href="{% url 'login' %}">Return to login</a></p>
	</form>
{% endblock %}