.main-body {
    position: relative;
    /*overflow: hidden;*/
    width: 100vw;
    height: 1000px;
    /* The image used */
}
.main-body:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    background-image: url("/media/tokyo1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.nav1{
    position: absolute;
    top: 0;
}
/* Resize the background image to cover the entire
