{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load wagtailimages_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>
			{% block title %}
				{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
			{% endblock %}
			{% block title_suffix %}
				{% with self.get_site.site_name as site_name %}
					{% if site_name %}- {{ site_name }}{% endif %}
				{% endwith %}
			{% endblock %}
		</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css"/>

		<!-- UIkit JS -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
		{# Global stylesheets #}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/index_b.css' %}">

		{% block extra_css %}
			{# Override this in templates to add extra stylesheets #}
		{% endblock %}
	</head>

	<body class="main-body">
		<nav class="navbar navbar-light bg-light uk-navbar-container" uk-navbar style="padding: 0 1rem">
			<a class="navbar-brand" href="/">
				Metropol
			</a>
			<div class="uk-navbar-right">

				<ul class="uk-navbar-nav">
					<li>
						<a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav uk-link-text">
								<li style="margin: 0 0 4px 0">Welcome, {{ user.get_username }}</li>
								<li><a class="uk-text-success" href="{% url 'newpost' %}">Add post</a></li>
								<li><a class="uk-text" href="{% url 'profile' %}">Profile</a></li>
								<li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<!--<h1>not logged</h1>-->
		<main class="uk-margin-bottom uk-container uk-margin">
			<form name="newPost" action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="uk-margin">
					<input class="uk-input" type="text" name="header" placeholder="Header">
				</div>

				<div class="uk-margin">
					<textarea class="uk-textarea" rows="5" name="textarea" placeholder="Post text"></textarea>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Upload</span>
					</div>
					<div class="js-upload" uk-form-custom>
						<input type="file" name="post-image">
						<button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
					</div>
				</div>
				<button type="submit" class="uk-button uk-button-primary">submit</button>
			</form>
		</main>

		{# Global javascript #}
		<script type="text/javascript" src="{% static 'js/index_b.js' %}"></script>
	</body>
	{% load static wagtailuserbar %}

