

{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}

	<div class="w-50" style="margin:7% auto 0 auto; border: 2px solid gray; border-radius: 4px; padding: 17px" method="post" action="{% url 'login' %}">
		<p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
		<p class="mt-3"> <a href="{% url 'login' %}">Return to login</a></p>
	</div>

	{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}