{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
	<h1 class="mt-3">The password has been changed!</h1>
	<p class="mt-3"><a href="{% url 'login' %}">log in again?</a></p>
{% endblock %}