{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	{% if validlink %}

		<form action="" method="post">
			{% csrf_token %}

			<div class="w-50" style="margin:7% auto 0 auto; border: 2px solid gray; border-radius: 4px; padding: 17px">
				<p class="mt-3">Please enter (and confirm) your new password.</p>
			{{ form.new_password1.errors }}
				<label for="id_new_password1">New password:</label>
					<div class="mt-1">{{ form.new_password1 }}</div>
				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirm password:</label>
					<div class="mt-1">{{ form.new_password2 }}</div>
					<input class="btn btn-success mt-5" type="submit" value="Change my password" />
			</div>
		</form>
	{% else %}
		<h1>Password reset failed</h1>
		<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
	{% endif %}
{% endblock %}