{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}


	<form class="w-50" style="border: 2px solid gray; border-radius: 4px; padding: 17px; display: block; margin: 10vh auto 0 auto" action="" method="post">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% if form.email.errors %}
			{{ form.email.errors }}
		{% endif %}

		<input type="submit" class="btn btn-success" value="Reset password">
		<p class="mt-3"> <a href="{% url 'login' %}">Return to login</a></p>
	</form>


{% endblock %}